@import "tailwindcss";

@theme {
  --color-primary: #003366;
  --color-secondary: #C5A059;

  --animate-ken-burns: ken-burns 20s ease-in-out infinite alternate;

  @keyframes ken-burns {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
  }
}

body {
  color: #1a1a1a;
  overflow-x: hidden;
}